
.skillsCon{
    padding: 12px;
    border: none;
}
.mediumText{
    border: none;
    margin: 10% 0;
    font-size: 23px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.skills{
    border: 1px solid blue;
    padding: 5px;
}

.flex p{
    font-size: 20px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to left, lightblue, dodgerblue);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.flex{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: row;
}